[Unit]
Description=QBitcoin core
After=network.target
After=mysqld.service
StartLimitInterval=180
StartLimitBurst=3

[Service]
PermissionsStartOnly=true
ExecStart=/usr/local/bin/qbitcoind
User=qbitcoin
Group=qbitcoin
ProtectSystem=full
PrivateTmp=true
TasksMax=infinity
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
