[Unit]
Description=QBitcoin core
After=network.target
Requires=docker.service
StartLimitInterval=180
StartLimitBurst=3

[Service]
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm -f qbitcoin 2>/dev/null"
ExecStart=/usr/bin/docker run -e debug=0 --mount type=bind,source=/etc/qbitcoin.conf,target=/etc/qbitcoin.conf,readonly --volume /home/qbitcoin/database:/database --read-only --rm -p 9555:9555 --name qbitcoin qbitcoin
#ExecStart=/usr/bin/docker run -e debug=0 -e dbi=mysql --mount type=bind,source=/etc/qbitcoin.conf,target=/etc/qbitcoin.conf,readonly --mount type=bind,source=/var/run/mysqld/mysqld.sock,target=/var/lib/mysql.sock --read-only --rm -p 9555:9555 --name qbitcoin qbitcoin
ExecStop=/usr/bin/docker stop qbitcoin
ExecStopPost=-/bin/sh -c "/usr/bin/docker rm -f qbitcoin 2>/dev/null"
StandardOutput=append:/var/log/qbitcoin.log
User=qbitcoin
Group=qbitcoin
ProtectSystem=full
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
