[Unit]
Description=QBitcoin core
After=network.target
Requires=docker.service
StartLimitInterval=180
StartLimitBurst=3

[Service]
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm -f qbitcoin 2>/dev/null"
ExecStart=/usr/bin/docker run -e debug=0 --volume /home/qbitcoin/database:/database --read-only --rm -p 9666:9666 --name qbitcoin qbitcoin
ExecStop=/usr/bin/docker stop qbitcoin
ExecStopPost=/usr/bin/docker rm -f qbitcoin
StandardOutput=append:/var/log/qbitcoin.log
User=qbitcoin
Group=qbitcoin
ProtectSystem=full
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
