[Unit]
Description=QEcurrency core
After=network.target
After=mysqld.service
StartLimitInterval=180
StartLimitBurst=3

[Service]
PermissionsStartOnly=true
ExecStart=/usr/local/bin/qecurrencyd
ExecStartPre=/usr/local/bin/qecurrency-init
User=qecurrency
Group=qecurrency
ProtectSystem=full
PrivateTmp=true
TasksMax=infinity
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
